<ion-view title="Account settings">
    <ion-content overflow-scroll="true" padding="true" scroll="true" class="has-header">

        <form class="list"   ng-submit="submit(username, email, profile_picture, first_name, last_name, phone_number)" enctype="multipart/form-data">
			  
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" name="username" ng-model="username" placeholder="" >
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" name="email" ng-model="email" placeholder="" >
                </label>
                <label class="item item-input">
                    <span class="input-label"></span>
                    <img src="{{user_data.profile_picture}}" width="100" height="100" alt="Circle Image">
                </label>
                <label class="item item-input">
                    <span class="input-label">Profile picture</span>
                    <input type="file" name="profile_picture" ng-model="profile_picture" placeholder="" value="">
                </label>
								<label class="item item-input">
                    <span class="input-label">First name</span>
                    <input type="text" name="first_name" ng-model="first_name" placeholder="" >
                </label>
								<label class="item item-input">
                    <span class="input-label">Last name</span>
                    <input type="text" name="last_name" ng-model="last_name" placeholder="" >
                </label>
								<label class="item item-input">
                    <span class="input-label">Phone number</span>
                    <input type="text" name="phone_number" ng-model="phone_number" placeholder="" >
                </label>
								
								
            <button id="accountSettings-button9" class="button button-royal  button-block">Save</button>
        </form>
    </ion-content>
</ion-view>
