<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    id          = "com.phonegap.viitgo"
    versionCode = "10"
    version     = "1.0.0" >
        <platform name="ios" />
<platform name="android" />
<platform name="winphone" />

    <!-- versionCode is optional and Android only -->

    <name>FADED MB CLIENT</name>

    <description>
      Client application for faded barbershop
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
    S.S.Hussain
    </author>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>

    <!-- We'll include the Barcode plugin as an example -->
    <plugin name="cordova-plugin-console" spec="1.0.1" source="pgb" />
    <plugin name="cordova-plugin-device" spec="1.0.1" source="pgb" />
    <plugin name="cordova-plugin-splashscreen" spec="2.1.0" source="pgb" />
    <plugin name="com.indigoway.cordova.whitelist.whitelistplugin" spec="1.1.1" source="pgb" />
    <plugin name="com.phonegap.plugin.statusbar" spec="1.1.0" source="pgb" />
</widget>
